@{
    ViewBag.Title = "About";
}
<h2 style="text-align:center; color:#055b07">About Us</h2>

<h3 style="color:#055b07">Introduction:</h3>
<p>Easyhome.com is the leading real estate and rental marketplace dedicated to empowering consumers with data, inspiration and 
    knowledge around home, and connecting them with the best clients. We connect buyers with sellers and owners with renters across
     the country. We serve the full lifecycle of owning and living in a home: buying, selling, renting, financing, remodeling and 
    more. It also serves to provide estimate values, 3D view and other home-related information. We are introducing the chat-box
     facility for real time and direct communication between the clients. We don’t charge for our services, nor do we sell the 
    information to third parties. All our revenue is generated from advertising. We also provide pay hour renting facility to the 
    clients with additional features and privileges. The paying guest facility has also been incorporated in the website allowing
     the clients to squeeze the maximum out of their investment.</p>


<h3 style="color:#055b07">Objective</h3>
<p>To build relationships of trust with buyers, sellers and business partners.

To build a strong property list. A good list offers buyers choice and helps to build trust in the company.

To deal with all, general residential and commercial clients or specialist service in niche market.

To build professional referrals. More the links, more the success rate. Being in contact with other professionals involved in the property business, such as mortgage companies, surveyors, banks and law firms is a mutually beneficial relationship.

To minimize inconvenience for clients by offering all-inclusive services. We aim to provide all services under one platform

Clients benefit from a single point of contact, saving time and reducing inconvenience

To manage and lease real estate properties.</p>
