@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Easy Home Head Quarters<br />
    Room#92, Q hall, U.E.T Lahore<br />
    <abbr title="Phone">P:</abbr>
    +92 323-971-34-83
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:Info@easyhome.com">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Info@easyhome.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@easyhome.com">Marketing@easyhome.com</a>
</address>