<div class="footer" style="width:100% !important">

    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-sm-3">
                <div style="padding:10px; color:#fff">
                    <h4>Information</h4>
                    <ul class="row">
                        <li class="col-lg-12 col-sm-12 col-xs-3">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="col-lg-12 col-sm-12 col-xs-3">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="col-lg-12 col-sm-12 col-xs-3">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div style="padding:10px">
                    <h4>Newsletter</h4>
                    <p>Get notified about the latest properties in our marketplace.</p>
                    <form class="form-inline" role="form">
                        <input type="text" placeholder="Enter Your email address" class="form-control">
                        <button class="btn btn-primary" style="width:243px" type="button">Notify Me!</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div style="padding:10px">
                    <h4>Follow us</h4>
                    <a href="#"><img src="/Content/img/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="/Content/img/twitter.png" alt="twitter"></a>
                    <a href="#"><img src="/Content/img/linkedin.png" alt="linkedin"></a>
                    <a href="#"><img src="/Content/img/instagram.png" alt="instagram"></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3">
                <div style="padding:10px">
                    <h4>Contact us</h4>
                    <p>
                        <b>Easy Home.</b><br>
                        <span class="glyphicon glyphicon-map-marker"></span>U.E.T Lahore <br>
                        <br />
                        <span class="glyphicon glyphicon-envelope"></span> info@easyhome.com<br>
                        <br />
                        <span class="glyphicon glyphicon-earphone"></span> +92 (123) 456-7890
                    </p>
                </div>
            </div>
        </div>
        <p class="copyright">Copyright 2018. All rights reserved.	</p>


    </div>
</div>

